<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LineCoder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div id="response">
        </div>
    </div>

    <script>
        let lastMessage = '';

        window.onload = function(){
            sseListener();
        };

        function updateMessage(event) {
            const data = JSON.parse(event.data);
            const message = data.message !== undefined ? data.message : event.data;
            
            // Only make request if message has changed
            if (message !== lastMessage) {
            lastMessage = message;
            fetch('/decode', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ message: message })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById("response").innerHTML = "<p>" + data.message + "</p>";
            })
            .catch(error => console.error('Error:', error));
            }
        }

        function sseListener(){
            const eventSource = new EventSource("http://127.0.0.1:5000/last_message");
            eventSource.onmessage = updateMessage;
        }
    </script>

</body>
</html>